
* {
    background-color:antiquewhite;
}

body {
    font-size: 12px;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 530px;
    height: auto;
    border-radius: 25px;

  }

  .flex-container > div {
    width: 50%;
    margin-bottom: 50px;
    text-align: left;
    line-height: auto;

  }

img {
    border-radius: 20px;
}



.center {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }

  .simple {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

.prep {
    background-color: lightpink;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-align: center;
    width: auto;
}

.Ingredients {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.Instructions {
    background-color: white;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.Nutrition {
    background-color: white;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    text-align: center;
    border-style: none;
    border-color: white;
}


h1 { font-size: 35px;
    background-color: white; 
} 

h2 { font-size: 30px; color: brown;
background-color: white;} 

strong {
    background-color: white;
}

h3 { font-size: 20px; color: rgb(235, 7, 7);
background-color: lightpink;}

p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: left;
}


ul.a {
    list-style-type: square;
    text-align: left;
    background-color: lightpink;
}


ul.b {
    list-style-type: square;
    background-color: white;
    text-align: left;
}

ul.c {
    list-style-type: numbers;
    background-color: white;
    text-align: left;
}

li {
    padding: 5px;
    background-color: white;
    text-align: left;
}

table {
    width: 430px;
    border-style: none;
}

tr {
    background-color: white;
    border-color: white;
    margin-left: 60px;
    text-align: left;
}

th {
    background-color: white;
    border-color: white;
    padding-left: 50px;
}

td {
    width: 150px;
    color: brown;
    font-weight: bold;
    background-color: white;
}

